/* 768px - 1024 px */

@media (min-width: 768px){
/* Nav bar */
  nav {
    grid-template-rows: 32px 48px;
  }

  .logo{
    width: auto;
    height: auto;
    grid-column: 1/2;
    grid-row:1/3;
  }

  .menu{
    grid-row:2/3;
  }

  .about_us {
    grid-column:2/3;
    grid-row:1/2;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }

.about_us li:hover{
color:white;
}
.featured li:first-child{
  color: white;
}

  .menu li {
    color: #aaa;
  }

  .menu li:hover{
    color: #555;
  }

  .featured{
    display: flex;
  }

  .contact_us{
    display: flex;
  }

  .featured:first-child {
    margin-left:20px;
  }

  .featured li {
  margin-right: 12px;

  }

  .contact_us:last-child {
    margin-right: 20px;
  }

  .contact_us li {
    margin-right:12px;
  }


  .menu {
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bars{
    display: none;
  }

  .menu_options {
    display: flex;
  }

  .menu_options li {
    padding-left:20px;
  }

  .menu_options li:nth-child(6),
  .menu_options li:nth-child(7)
  {
    display: none;
  }

.announcements {
  height: 30px;
}

/* Feature articles */

.feature_articles{
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 204.1px 204.1px;
}

.feature_articles div:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: blue;
  height: auto;
}

.feature_articles div:nth-child(2){
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: auto;
}

.feature_articles div:nth-child(3){
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: auto;
}



}
