
/* 768px - 1024 px */

@media (min-width: 768px) {
  /* Nav bar */
  nav {
    grid-template-rows: 32px 48px;
  }

  .logo {
    grid-column: 1/2;
    grid-row: 1/3;
    height: auto;
    width: auto;
  }

  .menu {
    align-items: center;
    display: flex;
    grid-row: 2/3;
    justify-content: space-between;
  }

  .about_us {
    align-items: center;
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: space-between;
  }

  .menu li {
    color: #aaa;
  }

  .featured li {
    margin-right: 12px;
  }

  .contact_us li {
    margin-right: 12px;
  }

  .menu_options li {
    padding-left: 20px;
  }

  .media li {
    margin: 8px;
  }

  .about_us li:hover {
    color: white;
  }

  .menu li:hover {
    color: #555;
  }

  .featured {
    display: flex;
  }

  .contact_us {
    display: flex;
  }

  .featured:first-child {
    margin-left: 20px;
  }

  .contact_us:last-child {
    margin-right: 10px;
  }

  .bars {
    display: none;
  }

  .menu_options {
    display: flex;
  }

  .menu_options li:nth-child(6),
  .menu_options li:nth-child(7) {
    display: none;
  }

  .announcements {
    height: 30px;
  }

  header {
    position: fixed;
    top: 0;
  }

  /* Feature articles */

  .main_cover {
    background: url("images/image-gradient.png"), url("images/cover-gradient.png"), url("images/main_cover.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%, cover, cover;
  }

  .feature_articles {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30vh 30vh;
  }

  .feature_articles .main_cover {
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 1;
    height: auto;
  }

  .feature_articles .sub_cover_a {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: auto;
  }

  .feature_articles .sub_cover_b {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: auto;
  }

  .main_cover h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 0;
  }

  .feature_articles .share_icon {
    display: none;
  }

  .feature_articles .share_count {
    display: none;
  }

  /* latest news */

  .latest_news_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  .latest_news_wrapper div:nth-child(n) {
    display: flex;
    flex-direction: column;
  }

  .latest_news_picture {
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .latest_news .author,
  .latest_news .time {
    display: inline-block;
    margin-left: 0;
    margin-top: 5px;
  }

  .latest_news h3 {
    line-height: 18px;
    margin-top: 5px;
  }

  /* latest funding rounds */

  .funding_rounds_menu {
    display: flex;
    flex-direction: row;
  }

  .funding_rounds {
    display: flex;
  }

  .funding_rounds > div:nth-child(n) {
    width: 33.3%;
  }

  .funding_rounds_menu p {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 5px;
  }

  .funding_rounds_menu p:nth-child(2) {
    border: #f42 solid;
    border-width: 0 1.5px;
    height: 17px;
    padding: 0 5px;
  }

  .latest_funding_rounds h2 {
    padding-left: 5px;
  }

  /* options section */

  .options_wrapper {
    grid-template-columns: 1fr 1fr;
  }

  /* Latest deals */

  .deals_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  .deals_wrapper > div:nth-child(n) {
    flex-direction: column;
  }

  .deals_image {
    height: 175px;
    width: 100%;
  }

  /* footer */

  .copy_rights {
    flex-direction: row;
    height: 100px;
    justify-content: center;
    padding-top: 3px;
  }
}
