


@media (min-width: 1024px){

/* Navbar */

  nav{
  grid-template-columns: 1fr;
  }

.logo {
  display: none;
}

.about_us {
  grid-column:1/3;
}

.menu {
  grid-column:1/3;
}

.menu_options li:nth-child(6),
.menu_options li:nth-child(7)
{
  display: block;
}

/* Feature articles */

.feature_articles{
  grid-template-rows: 257.125px 257.125px;
  grid-gap: 5px;
}



}
