


@media (min-width: 1024px){

/* Navbar */

  nav{
  grid-template-columns: 1fr;
  }

.logo {
  display: none;
}

.about_us {
  grid-column:1/3;
}

.menu {
  grid-column:1/3;
}

.menu_options li:nth-child(6),
.menu_options li:nth-child(7)
{
  display: block;
}

/* Feature articles */

.feature_articles{
  grid-gap: 5px;
  margin-top: 32px;
  grid-template-rows: 35vh 35vh;
}



.feature_articles .main_cover img{
  display: block;
  max-width: 50%;
  max-height: 112px;
  margin-top:24px;
  margin-left: 24px;
}

.main_cover h1{
  font-size: 55px;
  margin-top: 0;
  line-height: 50px;
}

.sub_cover_a h1, .sub_cover_b h1{
  font-size: 28px;
  line-height: 30.8px;
}

.feature_articles .share_icon {
display: inline-block;
}

.feature_articles .share_count{
  display: inline;
}

.main_cover .date{
display: block;
height: 30px;
position: absolute;
top:18px;
right: 20px;

}

/* Latest News */


.latest_news_wrapper {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.latest_news_picture {
height: 11vw;
}

/*latest funding rounds */

.funding_rounds_menu_wrapper{
  display: flex;
  justify-content: space-between;

}

.funding_rounds div:nth-child(4){
  display:block;
}

.latest_funding_rounds h2 {
  padding-left: 5px;
}

/* options section */

.options_wrapper{
  grid-template-columns: 1fr 1fr 1fr;
}


/* Latest deals*/
.deals_wrapper{
grid-template-columns: 1fr 1fr 1fr 1fr;
}





}
