


@media (min-width: 1024px){

/* Navbar */

  nav{
  grid-template-columns: 1fr;
  }

.logo {
  display: none;
}

.about_us {
  grid-column:1/3;
}

.menu {
  grid-column:1/3;
}

.menu_options li:nth-child(6),
.menu_options li:nth-child(7)
{
  display: block;
}

/* Feature articles */

.feature_articles{
  grid-gap: 5px;
  margin-top: 32px;
}

.feature_articles .main_cover img{
  display: block;
  max-width: 50%;
  max-height: 112px;
  margin-top:24px;
  margin-left: 24px;
}


.main_cover h1{
  position: absolute;
  width: 60%;
  bottom: 30px;
  left:30px;
}


.main_cover .classification{
  position: absolute;
  bottom: 72px;
  left:72px;
}

.main_cover .author{
  position: absolute;
  bottom: 18px;
  left:18px;
  background-color: blue;
}

/* Latest News */


.latest_news_wrapper {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.latest_news_picture {
height: 11vw;
}

/*latest funding rounds */

.funding_rounds div:nth-child(4){
  display:block;
}

/* options section */

.options_wrapper{
  grid-template-columns: 1fr 1fr 1fr;
}


/* Latest deals*/
.deals_wrapper{
grid-template-columns: 1fr 1fr 1fr 1fr;
}





}
