
/* 0- 768px */
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

a, a:visited, a:focus, a:active{
  text-decoration: none;
  color: inherit;
  outline: 0;
}


/* nav bar */

nav {
  display: grid;
  grid-template-columns: 106px 1fr;
  background-color: white;
}

.logo {
  align-items: center;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  display: flex;
  grid-column-end: 2;
  grid-column-start: 1;
  height: 48px;
  justify-content: center;
  width: 106px;
}

.logo img {
  height: 16px;
  width: 66px;
}

.about_us,
.menu_options {
  display: none;
  font-size: 13px;

}

.menu {
  display: flex;
  grid-column-end: 3;
  grid-column-start: 2;
  height: 48px;
  justify-content: flex-end;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: .04em
}

.menu_icons {
  display: flex;
}

.search,
.bars {
  border-left: 1px solid #eee;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  text-align: center;
  width: 48px;
}

.search {
  border-bottom: 1px solid #eee;
  color: #aaa;
  font-size: 16px;
  transform: rotate(90deg);
}

.bars {
  color: #f42;
  font-size: 22px;
  font-weight: bolder;
}

.fa-bars {
  padding-top: 9px;
}

.fa-search {
  padding-right: 6px;
  padding-top: 12px;
}

.search:hover {
  color: #555;
}

.announcements {
  background-color: #fd3;
  height: 60px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

header{
  width: 100%;
  position: fixed;
}

main{
  padding-top: 78px;
  z-index: -1;
}

/* Feature Articles */

.feature_articles {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top:2px;
}

.feature_articles div{
height: 184.6px;
}

.feature_articles div:first-child,
.feature_articles div:nth-child(2),
.feature_articles div:last-child
{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.feature_articles div:first-child{
 background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/1-25-796x417.jpg");
}
.feature_articles div:nth-child(2){
 background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/bitcoin_today-header_bitcoin_today-796x419.jpg");
}
.feature_articles div:last-child{
 background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-2-796x417.png");
}

/* latest news */
