
/* 0- 768px */
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: .04em
}

a, a:visited, a:focus, a:active{
  text-decoration: none;
  color: inherit;
  outline: 0;
}


/* nav bar */

nav {
  display: grid;
  grid-template-columns: 106px 1fr;
  background-color: white;
}

.logo {
  align-items: center;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  display: flex;
  grid-column-end: 2;
  grid-column-start: 1;
  height: 48px;
  justify-content: center;
  width: 106px;
}

.logo img {
  height: 16px;
  width: 66px;
}

.about_us,
.menu_options {
  display: none;
  font-size: 13px;

}

.menu {
  display: flex;
  grid-column-end: 3;
  grid-column-start: 2;
  height: 48px;
  justify-content: flex-end;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: .04em
}

.menu_icons {
  display: flex;
}

.search,
.bars {
  border-left: 1px solid #eee;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  text-align: center;
  width: 48px;
}

.search {
  border-bottom: 1px solid #eee;
  color: #aaa;
  font-size: 16px;
  transform: rotate(90deg);
}

.bars {
  color: #f42;
  font-size: 22px;
  font-weight: bolder;
}

.fa-bars {
  padding-top: 9px;
}

.fa-search {
  padding-right: 6px;
  padding-top: 12px;
}

.search:hover {
  color: #555;
}

.announcements {
  background-color: #fd3;
  height: 60px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

header{
  width: 100%;
  position: fixed;
}

main{
  padding-top: 78px;
  z-index: -1;
}

/* Feature Articles */

.feature_articles {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top:2px;
}

.feature_articles div{
height: 184.6px;
}

.feature_articles div:first-child,
.feature_articles div:nth-child(2),
.feature_articles div:last-child
{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.feature_articles div:first-child{
 background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/1-25-796x417.jpg");
}
.feature_articles div:nth-child(2){
 background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/bitcoin_today-header_bitcoin_today-796x419.jpg");
}
.feature_articles div:last-child{
 background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-2-796x417.png");
}

/* latest news */
.latest_news{
  margin: 15px;
}

.latest_news_wrapper {
  display: grid;
  grid-template-columns: 100%;
}

.latest_news_wrapper div:nth-child(n){
  display: flex;
}

.latest_news_picture {
width: 75px;
height: 75px;
min-width: 75px;
background-size: cover;
background-position: 50%;
}

.latest_news_wrapper div:nth-child(1)>div {
background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Stimulus-danger-514x270.jpg);
}

.latest_news_wrapper div:nth-child(2)>div {
background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/OKR-516x270.png);
}

.latest_news_wrapper div:nth-child(3)>div {
background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Sydney-opera-house-514x270.jpg);
}

.latest_news_wrapper div:nth-child(4)>div {
background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Google-Card-Debit-505x270.jpg);
}

.latest_news_wrapper div:nth-child(5)>div {
background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Coronavirus-516x270.jpg);
}

.latest_news_wrapper div:nth-child(6)>div {
background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Copy-of-...-10-516x270.png);
}

.latest_news_wrapper div:nth-child(7)>div {
background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/sale_27301_primary_image_wide-540x270.jpg);
}

.latest_news_wrapper div:nth-child(8)>div {
background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/sale_27378_primary_image_wide-540x270.jpg);
}

/*latest funding rounds*/

.latest_funding_rounds{
  color:#f42;
  margin:  15px;
}

.funding_rounds_menu{
  display: flex;
  flex-direction: column;
}

.funding_rounds_menu p{
  margin: 11px 0;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: .04em
}

.latest_funding_rounds{
display: flex;
flex-direction: column;
}

.funding_rounds div:nth-child(n){
  border: solid;
  margin: 5px;
}

.funding_rounds div:nth-child(4){
  display:none;
}

.funding_rounds div:nth-child(n) h3{
    background-color: #f42;
    color: white;
    height: 43.83px;
    padding: 10.66px 16px 16.66px 84px;

}

.funding_rounds div:nth-child(n) p:first-of-type{
  background-color: #ffece7;
}

.funding_rounds div:nth-child(n) img:first-of-type{
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 10.66px;
  margin-left: 10.66px;
}

.capital {
  color: black;
  padding: 15px 0 5px 85px;
  line-height: 16.5px;
  font-weight: 700;
  font-size: 18px;
}

.capital span {
  opacity: .5;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.44px;
  font-family: sans-serif;
}

.latest_funding_rounds h2{
  letter-spacing: -.015em;
  font-weight: 700;
  font-size: 28px;
  font-family: sans-serif;
}

.latest_funding_rounds h2 img{
  display: inline-block;
  width: 16px;
  height: 16px;
}
/* options section */

.options{
  margin: 20px;
  margin-bottom: 50px;
}

.options h2{
  letter-spacing: -.015em;
  font-weight: 700;
  font-size: 28px;
  font-family: sans-serif;
  color:#f42;
}

.options_wrapper{
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;
}
.feature_image{
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Snag_fce025fa-368x276.png);
  background-repeat: no-repeat;
  height: 300px;
  border: solid;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 2px;
}

.feature_image p:first-child{
margin-top: 200px;
}

.feature_image p{
  margin-left: 10px;
}

.option_img {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Google-Meet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 96px;
  height: 96px;
  min-width: 96px;
}

.options_wrapper div:nth-child(n) div:nth-child(3) {
  display: flex;
}

.options_wrapper div:nth-child(n) div:nth-child(3) p {
  margin-right: 30px;
  margin-top: 10px;
  color:#f42;
}


.options_wrapper div:nth-child(n) ul {
  margin-left: 15px;
  color: #555;
  font-weight: 400;
  line-height: 19.5px;
  font-size: 13px;
}

.options_wrapper div:nth-child(n) li {
padding-bottom: 6px;
border-bottom: solid #eeeeee 1px;
padding-top: 4px;

}


.options_wrapper div:nth-child(n) li::before {
content: "\2022";
 color: red;
 font-weight: bold;
 display: inline-block;
 width: 1em;
 margin-left: -1em;
}

.options_wrapper div:nth-child(n) div:nth-child(3) p {
  font-weight: 700;
  line-height: 17px;
}

.options_wrapper div:nth-child(n) div:nth-child(3) span {
  font-weight: 500;
  line-height: 17px;
}

.options_wrapper div:nth-child(n) div:nth-child(3){
  background-color: #fff4f2;
}

/* Latest deals*/

.latest_deals{
  margin:20px;
  margin-bottom: 50px;
}

.latest_deals h2{
  letter-spacing: -.015em;
  font-weight: 700;
  font-size: 28px;
  font-family: sans-serif;
  color:#f42;
}

.latest_deals>div:first-child{
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.latest_deals .details{
  color: #f42;
}



.deals_wrapper{
display: grid;
grid-template-columns: 100%;
grid-gap:  5px;
}

.deals_wrapper>div{
  height: auto;
  margin: 3px;
}

.deals_image{
  background-image: url(https://cdnp1.stackassets.com/e5814c7482460a462c26d06b517066a1086cdf70/store/10ebcfc38f40fac5c072e3863fef177ecbe48b5e2f3075c55ecf09597d51/sale_27421_primary_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 75px;
  width: 75px;
  min-width: 75px;
}

.deals_image p{
  display: none;
}

.deals_wrapper>div:nth-child(n){
  display: flex;
}

.deals_data{
display: flex;
flex-direction: column;
margin-left: 5px;
margin-top: 5px;
}

.deals_data p{
  font-weight: 700;
}

.price {
font-weight: 400;
line-height: 30px;
}

.original_price {
text-decoration: line-through;
color:#aaa;
}
